blockquote {
  border: 1px solid #8d9ba1;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 10px solid #8d9ba1;
}
p {
  margin: 20px 0;
}
a.a-tag-link {
  color: #007bff !important;
}
li {
  margin: 10px 0px;
}
/* blockquote:before {
  content: "\201C";
  font-size: 3em;
  font-family: Georgia;
  color: #bcbcbc;
  float: left;
  margin: -5px 10px 0px -10px;
} */